
body{
	background-color:gray;
	font-family:Arial;
}

ul{
	list-style-type: none;
	padding-left:0px;
}

li{
	border-bottom:1px solid;
	padding:5px;
	margin-top:15px;
	margin-bottom:15px;
}

li p, li p div{
	font-weight:bold;
}

#holder{
	margin:auto;
	width:100%;
	
}

.selected{
	border:1px solid red;
}

#slicingControls{
	margin-top:20px;
	border:1px solid gray;
	padding:10px;
}

#slicingControls input{
	margin-top:5px;
	margin-bottom:5px;
}

#tagFiler{
	border-bottom:1px solid;
	padding-bottom:10px;
}

#videoList{
	width:300px;
	float:left;
	border:1px solid;
	background-color:white;
	padding:20px;
	border-radius: 25px;
	margin-right:30px;
}

#videoList input{
	margin-bottom:5px;
}

#videoHolder{
	width:850px;
	float:left;
	border:1px solid;
	background-color:white;
	padding:20px;
	border-radius: 25px;
}
