<h2>{{titleHeader}}</h2>
<video id="video" controls  src="" type="video/mp4">
<!-- fallback -->
Your browser does not support the <code>video</code> element.
</video>

<div id="slicingControls" ng-show="showSliceControls = false">
				<input ng-model="sceneName"  placeholder="Enter Scene name"/> <br>
				<input ng-model="startTime" id="startTime" placeholder="Enter Start Time" /> <button  ng-click="addStart()">Start from here</button><br>
				<input ng-model="endTime" id="endTime" placeholder="Enter End Time" /> <button   ng-click="addEnd()">End here</button><br>
				<input ng-model="tags" id="tags" placeholder="Enter tags"/><br>
				<button id="addSceneToList" ng-click="addScene()">Add Scene To List</button>
			</div>